services:
  ocr_api:
    build: .
    container_name: fastapi_ocr
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: always
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload